.delete-icon {
  width: 30px;
  height: 30px;
  border: 3px solid gray;
  border-radius: 5px;
  padding: 5px 0 5px 0;
  cursor: pointer;
}

.key-row-block {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gray;
  border-radius: 5px;
  padding: 5px 0 5px 0;
  margin: 2px;
  background-color: whitesmoke;
  cursor: pointer;
}

.key-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar-wording {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
